img{
	width: 300px;
	height: 300px;
}
div{
	display: flex;
}
p{
	font-size: 20px;
	color: midnightblue;
}
.first img{
	margin-left: 300px;
}
.second img{
	margin-left: 300px;
}
.third img{
	margin-left: 300px;
}
.forth p{
	margin-left: 300px;
}