body{
	background: linear-gradient(90deg,red,orange,aliceblue,blue);
}
h1{
	text-align: center;
	color: cyan;
	font-family: algerian;
	font-size: 24px;
}
input:hover{
	border-color: rgb(255,0,0);
	background: linear-gradient(45deg,purple,midnightblue,floralwhite,red);
	border-radius: 5px;
}
a:hover{
	background: linear-gradient(45deg,purple,midnightblue,floralwhite,red);
	color: white;
	text-decoration: underline;
}
button{
	background: cyan;
	font-size: 18px;
	color: white;
	border: 2px solid black;
}
button:hover{
	background: linear-gradient(45deg,purple,midnightblue,floralwhite,red);
	color:black;
	transform: skewX(45deg);

}
a{
	text-decoration: none;
	color: green;
	background: white;
}
textarea{
    margin: 5px;
    /*border: 1px solid red;*/
    border-radius: 10px;
    }
textarea:hover{
    border-color: floralwhite;
    color:cyan;
    background: linear-gradient(45deg,purple,midnightblue,floralwhite,red);
}    
.footer{
	background: linear-gradient(120deg,cyan,purple,blue,dodgerblue,midnightblue);
	opacity: 0.8;
	margin-bottom: 0px;
	text-align:  center;
}